body {
    background-color: pink;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
}

header {
    margin: 0%;
    background-color: #00ffff;
    height: 75px;
    position: sticky;
    top: 0;
}

#header{
    margin: auto;
}

nav{
    background-color: blueviolet;
    height: 45px;
    position: sticky;
    top: 75px;
}

#nav{
    margin:auto;
}
