{%extends "layout.html"%}
{%block content%}
<div class="column side"></div>
<div class="column middle" style="color:white;background-color:black;font-family: Calibri, sans-serif;">
<img src="/static/images/{{champions.img}}.png" alt="" style="width:100%">
    <h1>{{champions.name}}</h1>
    <div>
      {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             {{ message }}
          {% endfor %}
       {% endif %}
    {% endwith %}
          {% if current_user.is_anonymous %}
          <p>please signup to use my team builder</p>
          {% elif champions in user.champions %}
            <div id="favourite_button">
              <button onclick="location.href=
              '{{ url_for('delete', id=champions.id)}}'" type="button">
               <h3> Remove from my team </h3></button>
            </div>
          {% else %}
            <div id="favourite_button">
              <button onclick="location.href=
              '{{ url_for('add', id=champions.id)}}'" type="button">
               <h3> Add to my team </h3></button>
            </div>
          {% endif %}

        COST: {{champions.cost}}
        <br>
        {{champions.description}}
        <br><br>
        {% for synergy in champions.synergies%}
        <h2>Synergy:
        <u><a href="{{url_for('synergiesid', id=synergy.id)}}" style="text-decoration:none;color:white;">{{synergy.name}}</a></u>
        </h2>
        <br>
        {{synergy.description}}
        {% endfor %}
</div>



{%endblock%}
