{%extends "layout.html"%}
{%block content%}
<main> 
    <div>
        <div>
            <a>
                <!--<img src="static/images/iamge1.png/" alt="Amog" width="700" height="50" id = "image1">-->
            </a>
        </div>
        <div>
            <a>
                <!--<img src="static/images/iamge1.png/" alt="Amog" width="700" height="50" id = "image1">-->
            </a>
        </div>
        <div>
            <a href="{{url_for('home')}}">
                <div id = "image1">

                </div>
            </a>
        </div>
        <div>
            <a>
                <!--<img src="static/images/iamge1.png/" alt="Amog" width="700" height="50" id = "image1">-->
            </a>
        </div>
    </div>
</main>
{%endblock%}