{%extends "layout.html"%}
{%block content%}
<main> 
    <a>
        <img src="static/images/iamge1.png/" alt="Amog" width="700" height="500" id = "image1">
    </a>
    <a>
        <img src="static/images/iamge1.png/" alt="Amog" width="700" height="500" id = "image1">
    </a>
    <a>
        <img src="static/images/iamge1.png/" alt="Amog" width="700" height="500" id = "image1">
    </a>
    <a>
        <img src="static/images/iamge1.png/" alt="Amog" width="700" height="500" id = "image1">
    </a>
</main>
{%endblock%}