{%extends "layout.html"%}
{%block content%}
<main> 
    <div>
        <a>
            <img src="static/images/iamge1.png/" alt="Amog" width="700" height="50" id = "image1">
        </a>
    </div>
    <div>
        <a>
            <img src="static/images/iamge1.png/" alt="Amog" width="700" height="70" id = "image1">
        </a>
    </div>
    <div>
        <a>
            <img src="static/images/iamge1.png/" alt="Amog" width="700" height="90" id = "image1">
        </a>
    </div>
    <div>
        <a>
            <img src="static/images/iamge1.png/" alt="Amog" width="700" height="120" id = "image1">
        </a>
    </div>
    
</main>
{%endblock%}