<!doctype html>
<html>
    <head>
        <title> My Site</title>
        <link rel="icon" type="image/x-icon" href="/static/images/TFTICON.png">        
        <link rel = "stylesheet" href = "/static/styles.css">
    </head>



    <body>
        <header>   
            <a id = "titlebut" href = "{{url_for('home')}}">
                7.0 TACTIPEDIA
            </a>
            <div id = logins>
            <a href="{{url_for('login')}}">
                login
            </a>
            <a>
                |  
            </a>
            <a href="{{url_for('login')}}">
                sign up
            </a>
        </div>
        </header>
    
        <nav>
            <li><a href="/champions"v>Champions</a></li>
            <li><a href="/little_legends" id = "nav">Little Legends</a></li>
            <li><a href="/arena" id = "nav">Arenas</a></li>
            <li><a href="/synergies" id = "nav">Synergies</a></li>
        </nav>

        {%block content%}{%endblock%}
        
    </body>
</html>