{%extends "layout.html"%}
{%block content%}
<main>
  <h1>Please browse Champions to add users to your team</h1>
    <div id ="bakas">
        {% for champions in user.champions%}
        <a href = "{{url_for('championid', id=champions.id)}}" class="baka" style="background-image: url('/static/images/{{champions.img}}.png');">
                <h1>{{champions.name}}</h1>
                <div class = "info">
                    COST: {{champions.cost}}
                    <br>
                    Synergy: {% for synergy in champions.synergies%}
                    {{synergy.name}}
                    <br>
                    &emsp;&emsp;&emsp;&ensp;
                    {% endfor %}
                </div>
            </a>
        {% endfor %}
</div>

</main>
{%endblock%}
