{%extends "layout.html"%}
{%block content%}
<div class="column side"></div>
<div class="column middle" style="color:white;background-color:black;">
<img src="/static/images/{{synergies.image}}.png" alt="" style="width:100%">
    <h1>{{synergies.name}}</h1>
        COST: {{synergies.cost}}
        <br>
        {{synergies.description}}
        <br><br>

        <h2>Champions:
          {% for champion in synergies.champions%}
        </h2>
        <u><a href="{{url_for('championid', id=champion.id)}}" style="text-decoration:none;color:white;">{{champion.name}}</a></u>
        {% endfor %}
</div>

{%endblock%}
